<form action="/" method="post">
  <input class="url" type="text" name="url" value="{{url}}" required>
  <button type="submit">convert</button>
</form>
<a href="{{short}}" target="_blank">{{short}}</a>